<h3><i class="fas fa-book-reader"> Story Book</i></h3>

<div class="section">
    <div class="leader">Create public or private stories from your life.</div>
</div>
<div class="divider">

</div>

<div class="section">
    <a href="/auth/google" class="btn red darken-5">
        <i class="fab fa-google left"></i> Login with Google
    </a>

</div>